<!DOCTYPE html>
<html lang="en" ng-app="wordApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Counter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/wordcount.js"></script>
  </head>
  <body>
    <div ng-controller="wordCounterController">
      <label>Input</label>
      <br />
      <textarea ng-model="input" rows="20" cols="75" ng-change="processInput()">
      </textarea>
      <hr />
      Word Counter : <h2>{{wordCount}}</h2>

      All Words
      <!--
	  <h1>{{output}}</h1>
	  -->
	  <ol>
        <li ng-repeat="item in finalWordList">{{ item }}</li>
      </ol>
    </div>



  </body>
</html>
